<div id="contact" class="container text-center">
	<h2 class="heading-1 reveal-bottom"><span><strong>How</strong> to Reach Me</span></h2>
	<p class="reveal-bottom">Let's be social!</p>
	<div class="row text-uppercase">
		<div class="col-sm-4 space-margin"><a href="https://www.linkedin.com/in/hansbas/" class="btn btn-default reveal-bottom-scale">LinkedIn</a></div>
		<div class="col-sm-4 space-margin"><a href="https://www.github.com/haanmiba" class="btn btn-default reveal-bottom-scale">GitHub</a></div>
		<div class="col-sm-4 space-margin"><a href="https://www.behance.net/hansbas" class="btn btn-default reveal-bottom-scale">Behance</a></div>
	</div>
	<div class="row text-uppercase">
		<div class="col-sm-4 space-margin"><a href="https://www.facebook.com/hans.bas" class="btn btn-default reveal-bottom-scale">Facebook</a></div>
		<div class="col-sm-4 space-margin"><a href="https://www.instagram.com/hans_bas/?hl=en" class="btn btn-default reveal-bottom-scale">Instagram</a></div>
		<div class="col-sm-4 space-margin"><a href="https://www.pinterest.com/haanmiba/" class="btn btn-default reveal-bottom-scale">Pinterest</a></div>
	</div>
	<p class="reveal-bottom">Or perhaps, more personal:</p>
	<a href="mailto:mr.hans.bas@gmail.com" class="btn btn-default text-uppercase reveal-bottom-scale">Email</a>
	<div class="space-margin"></div>
	<p class="reveal-bottom">Phone: (631) 626-5020</p>
</div>
