<section>
	
	<div class="divider">
		<h1><span><span>How</span> To Contact Me</span></h1>
	</div>

	<div class="center uppercase">

		<div class="inline-div"><a href="mailto:mr.hans.bas@gmail.com">Email</a></div>

		<div class="horizontal-spacing-200px"></div>

		<div class="inline-div"><a href="https://github.com/haanmiba">Github</a></div>

		<div class="horizontal-spacing-200px"></div>

		<div class="inline-div"><a href="https://www.behance.net/hansbas">Behance</a></div>

	</div>

	<div class="vertical-spacing-30px"></div>

	<div class="center uppercase">

		<div class="inline-div"><a href="mailto:mr.hans.bas@gmail.com">LinkedIn</a></div>

		<div class="horizontal-spacing-100px"></div>

		<div class="inline-div"><a href="https://github.com/haanmiba">Facebook</a></div>

		<div class="horizontal-spacing-100px"></div>

		<div class="inline-div"><a href="https://www.behance.net/hansbas">Instagram</a></div>

		<div class="horizontal-spacing-100px"></div>

		<div class="inline-div"><a href="https://www.behance.net/hansbas">Pinterest</a></div>

	</div>

	<div class="vertical-spacing-40px"></div>

</section>