	<nav>

		<!--
		<ul>
			<li><a href="/">about</a></li>
			<li><a href="/resume">résume</a></li>
			<li><a href="/portfolio">portfolio</a></li>
			<li><a href="/contact">contact</a></li>
		</ul>
	-->

	<div class="top-25-padding center">

		<div class="inline-div">
			<a href="#">about</a>
		</div>

		<div class="horizontal-spacing-150px"></div>

		<div class="inline-div">
			<a href="#">résume</a>
		</div>

		<div class="horizontal-spacing-150px"></div>

		<div class="inline-div">
			<a href="#">portfolio</a>
		</div>

		<div class="horizontal-spacing-150px"></div>

		<div class="inline-div">
			<a href="#">contact</a>
		</div>

	</div>


	</nav>