<div id="portfolio" class="container text-center">
	<h2 class="heading-1 reveal-bottom"><span><strong>What</strong> I've Done</span></h2>
	<h2 class="reveal-bottom"><strong><u>Portfolio</u></strong></h2>
	<div class="form-group"></div>
	<div class="row md-narrow-container">
		<div class="col-md-6 space-margin center-block reveal-left">
		<a href="https://github.com/haanmiba" class="btn btn-default text-uppercase">Programming <br>(GitHub)</a>				
		</div>
		<div class="col-md-6 center-block reveal-right">
		<a href="https://www.behance.net/hansbas" class="btn btn-default text-uppercase">Graphic Design <br>(Behance)</a>
		</div>
	</div>
</div>
